input, textarea {
  width: 100%;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  font-family: var(--body-font);
  border: 2px solid transparent;
}

input:focus, textarea:focus {
  border-color: var(--first-color);
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  row-gap: 1rem;
}

.form-status {
  display: none;
  font-size: 0.9rem;
  text-align: center;
}

.form-consent {
  font-size: 0.75rem;
  text-align: center;
}

.form-gotcha {
  display: none;
}
